// Created by CTT VNPAY

extends layout

block content
    h3.text-center=title
    div.container.mt-4
        div.table-responsive
            form#createOrder(action='create_payment_url', method='POST')
                div.form-group
                    label Số tiền
                    input.form-control#amount(name='amount', placeholder='Số tiền', value=amount, readonly)

                div.form-group
                    label Chọn Phương thức thanh toán:
                    div.form-check
                        input.form-check-input#defaultPaymentMethod(type="radio", name="bankCode", value="", checked="true")
                        label.form-check-label(for="defaultPaymentMethod") Cổng thanh toán VNPAYQR
                    div.form-check
                        input.form-check-input#vnbankPaymentMethod(type="radio", name="bankCode", value="VNBANK")
                        label.form-check-label(for="vnbankPaymentMethod") Thanh toán qua ATM-Tài khoản ngân hàng nội địa
                    div.form-check
                        input.form-check-input#intcardPaymentMethod(type="radio", name="bankCode", value="INTCARD")
                        label.form-check-label(for="intcardPaymentMethod") Thanh toán qua thẻ quốc tế

                div.form-group
                    label Ngôn ngữ
                    div.form-check
                        input.form-check-input#vnLanguage(type="radio", name="language", value="vn", checked="true")
                        label.form-check-label(for="vnLanguage") Tiếng việt
                    div.form-check
                        input.form-check-input#enLanguage(type="radio", name="language", value="en")
                        label.form-check-label(for="enLanguage") Tiếng anh

                button.btn.btn-primary.btn-block#btnPopup(type='submit') Thanh toán
        p.text-center.mt-3&nbsp;
